/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  color: #000;
  font-family: Tahoma, Calibri, Helvetica, Arial, Verdana, sans-serif;
  font-size: 14px;
}
